body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    /* Prevents body from scrolling */
}

#sidebar {
    width: 180px;
    background-color: #563d7c;
    /* Purple background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    overflow-y: auto;
    /* Enables vertical scrolling */
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Prevents content from scrolling */
}

h1 {
    color: #000000;
}

#home-screen,
#add-game-screen {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enables scrolling for the home and add game screens */
    padding: 20px;
}

#games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
    /* Enables vertical scrolling */
    max-height: 80vh;
    /* Limits the height of the games list */
}

.game-item {
    background-color: #6a477c;
    /* Purple background color */
    border: 1px solid #785799;
    /* Purple border color */
    padding: 10px;
    width: 140px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25px;
}

.game-item:hover {
    background-color: #785799;
    /* Darker shade of purple */
}

.game-item img {
    max-width: 100%;
    border-radius: 15px;
}

#add-game-button,
#back-button,
#add-another-game,
button[type="submit"] {
    background-color: #9c27b0;
    /* Purple button color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border-radius: 9px;
}

#home-button {
    background-color: #9c27b0; /* Purple button color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border-radius: 9px;
}

#home-button a {
    color: #ffffff;
    text-decoration: none; /* Remove underline from link */
}


#add-game-button:hover,
#back-button:hover,
#add-another-game:hover,
button[type="submit"]:hover {
    background-color: #8e24aa;
    /* Darker shade on hover */
}

form {
    max-width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="color"] {
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin: 8px 0;
    background-color: #6a477c;
    /* Purple input background color */
    color: #ffffff;
    border: 1px solid #785799;
    /* Purple border color */
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="color"]:focus {
    outline: none;
    border-color: #9c27b0;
    /* Purple focus color */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#category-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    overflow-y: auto;
    /* Enables vertical scrolling */
    max-height: 80vh;
    /* Limits the height of the category buttons container */
}

.category-button {
    background-color: #9c27b0;
    /* Default purple button color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    border-radius: 9px;
    width: 90%;
    text-align: center;
}

.category-button:hover {
    background-color: #8e24aa;
    /* Darker shade on hover */
}